<div class="container">
  <form novalidate [formGroup]="user" (ngSubmit)="onSubmit(user)">
    <div class="form-group">
      <label for="email">State:</label>
      <input type="email" class="form-control" placeholder="Your State" id="email" formControlName="state">
      <div class="alert alert-danger" *ngIf="user.get('state').hasError('minlength') && user.get('state').touched">
        Minimum of 2 characters
      </div>
    </div>

    <div class="form-group">
      <label for="pwd">City:</label>
      <input type="" class="form-control" placeholder="Your City" id="pwd" formControlName="city">
      <div class="alert alert-danger" *ngIf="user.get('city').hasError('minlength') && user.get('city').touched">
        Minimum of 2 characters
      </div>
    </div>

    <div class="form-group">
      <label for="pwd">Postal Code:</label>
      <input #term type="" class="form-control" id="pwd" placeholder="Your Postal Code" formControlName="postalCode">
      <div class="alert alert-danger" *ngIf="user.get('postalCode').hasError('pattern') && user.get('postalCode').touched">
        Enter Valid postal code
      </div>
      <div class="alert alert-danger" *ngIf="errorModal">
        Not Found
      </div>
    </div>
    <button type="submit" class="btn btn-default" style="float:right" [disabled]="user.invalid">Submit</button>
    <button class="btn btn-default" style="float:right" [routerLink]="['/step1']">Prev</button>
  </form>
</div>