<div class="container">
  <form novalidate [formGroup]="user" (ngSubmit)="onSubmit(user)">
    <div class="form-group">
      <label>State:</label>
      <input type="email" name="state" class="form-control" placeholder="Your State" formControlName="state">
      <div class="alert alert-danger" *ngIf="user.get('state').hasError('minlength') && user.get('state').touched">
        Minimum of 2 characters
      </div>
    </div>

    <div class="form-group">
      <label>City:</label>
      <input type="text" name="city" class="form-control" placeholder="Your City"  formControlName="city">
      <div class="alert alert-danger" *ngIf="user.get('city').hasError('minlength') && user.get('city').touched">
        Minimum of 2 characters
      </div>
    </div>

    <div class="form-group">
      <label>Postal Code:</label>
      <input #term type="text" name="postalCode" class="form-control"  placeholder="Your Postal Code" formControlName="postalCode">
      <div class="alert alert-danger" *ngIf="user.get('postalCode').hasError('pattern') && user.get('postalCode').touched">
        Enter Valid postal code
      </div>
      <div class="alert alert-danger" *ngIf="errorModal">
        Not Found
      </div>
    </div>
    <button type="submit" class="btn btn-default" style="float:right" [disabled]="user.invalid">Submit</button>
    <button class="btn btn-default" style="float:right" [routerLink]="['/step1']">Prev</button>
  </form>
</div>